

$primaryColor: #000080; 
$secondaryColor: #EEBC1D;
$fontColor: #ffffff; 
$fourthColor: #000000;
$alternativeColor: #c0c0c0; 
$evenColor: #c0c0c0;  
$footerfontColor: #000000; 
$fifthColor: #000097; 


$defaultFont: 'lato'; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 


$grid-breakpoints: (
xm: 576px,
sm: 640px,
md: 990px, 
lg: 1200px, 

);